.custom-file-upload {
  display: inline-block;
  position: relative;
  width: 15rem;
  height: 0;
  padding-bottom: 15rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  margin-bottom: 20px;
}

.custom-file-upload input[type='file'] {
  display: none;
}

.custom-file-upload svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-panel {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: solid #641313 5px;
  border-radius: 15px;
  background-color: #810F0F;
  padding: 5vh 25vh;
  padding-bottom: 3vh;
  align-items: center;
  margin: auto;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay .spinner-border {
  color: #fff;
}
